.header {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    background-color: #1F2937;
}

.logo,
.header-links {
    list-style-type: none;
}

.logo {
    color: white;
}

.header-links {
    display: flex;
    gap: 25px;
    margin-right: 200px;
    color: white;
}