.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.logo,
.header-links {
    list-style-type: none;
}

.logo {
    color: #F9FAF8;
    margin-left: 200px;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    display: flex;
    gap: 25px;
    margin-right: 200px;
}

.decor {
    text-decoration: none;
    color: #F9FAF8;
}